<!DOCTYPE html>
<html>
	{{#partial "content"}}
    <body>
        <section>
            <div class="container">
                <div class="entry-list single">
                    <article>
                        <h1>{{entry.title}}</h1>
                        <time>{{entry.dateTime}}</time>
                        <div class="entry">
                            <p>{{entry.blogEntryContent}}</p>
                            <p><a class="link" href="/detail/{{ entry.slug }}/edit">{{ title }}Edit Entry</a></p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
        <section class="entry-comments">
            <div class="container">
                    <h2>Comments</h2>
                    {{#each comments}}
                    <div class="comment">
                        <strong>{{creator}}</strong>
                        <time>{{dateTime}}</time>
                        <p>{{text}}</p>
                    </div>
                     {{/each}} 
                    <div class="new-comment">
                        <form action="/detail/{{ entry.slug }}/addcomment" method="post">
                              <label for="name">Name</label>
                              <input type="text" name="name"><br>
                              <label for="comment">Comment</label>
                              <textarea rows="5" name="comment"></textarea>
                              <input type="submit" value="Post Comment" class="button">
                        </form>
                    </div>
            </div>
        </section>
    </body>
    {{/partial}}
</html>
{{> base.hbs}}